.jumbotron { 
	background-color: #FF9002;
	background-image: url(../images/landing-hoteles.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	color: white;
	border-radius: 0px;
	margin-top: 50px;
}
footer {
	padding: 10px 10px 0 10px;
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: center;
}
footer p {
	margin-bottom: 0px;
	margin-top: 5px;
}
.card-hotel {
	flex: 1 150px;
	padding: 10px;
	margin: 10px;
	max-width: 270px;
	min-width: 270px;
	border: 0px solid gray;
	border-radius: 7px;
	box-shadow:  -3px 5px 13px gray;
}
.cards {
	justify-content: space-around;
	margin: 40px 0px;
	padding: 10px;
	border-radius: 4px;
	background-image: url(../images/background-beach.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
h5.card-subtitle {
	margin-bottom: 15px;
}
span.oi-home {
	font-size: 18px;
}
.btn-reserva {
	width: 100%;
}
.footer-address-item, .icon-button {
	margin-right: 10px;
}
.breadcrumb-item a{
	color: #6c757d;
}
.breadcrumb-item a:hover{
	color: #FF9002;
}	
.breadcrumb-item.active{
	font-weight: bold;
}
.card-tarjetas {
	width: 300px;
}
.info-empresa h3 {
	text-align: center;
}
.info-empresa {
	background-color: white;
}
.card-img-top {
	max-height: 137px;
}
.tab-content {
	padding-top: 10px;
}
.text-align-center {
	text-align: center;
}
.text-align-right {
	text-align: right;
}
.text-align-left {
	text-align: left;
}
.f-w-b {
	font-weight: bold;
}
.btn-medium {
	width: 100%;
	font-size: 14px;
	height: 25px;
	line-height: 1px;
	margin-bottom: 10px;
	border-radius: 0px;
}
.img-border:hover {
	box-shadow:  -1px 2px 23px #007bff, 0px 1px 19px #007bff;
	transition: 0.5ms;
}
.carousel {
	max-width: 800px;
	margin: 0 auto;
}
@media (max-width: 420px) {
	.info-empresa div{
		margin-bottom: 30px;
	}	
}