$yellow: #F9E13F;
$red: #F91145;
$green: #1e7e34;
$orange: #FF9002;
$blue: #007bff;
$blue-dark: #152433;
$white: #FFFFFF;

@mixin margenes($top, $bottom) {
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin padding($top, $right, $bottom, $left) {
	padding: $top $right $bottom $left;
}

@mixin text-center() {
	text-align: center;
}

.jumbotron {
	background-color: $orange;
	background-image: url(../images/landing-hoteles.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	color: white;
	border-radius: 0px;
	@include margenes(50px, 32px);
}
footer {
	@include padding(30px, 10px, 30px, 10px);
	@include margenes(20px, 0px);
	@include text-center();
}
footer p {
	@include margenes(5px, 0px);
}

.card-hotel {
	flex: 1 150px;
	@include padding(10px, 10px, 10px, 10px);
	margin: 10px;
	max-width: 270px;
	min-width: 270px;
	border: 0px solid gray;
	border-radius: 7px;
	box-shadow:  -3px 5px 13px gray;
}
.cards {
	justify-content: space-around;
	margin: 40px 0px;
	@include padding(10px, 10px, 10px, 10px);
	border-radius: 4px;
	background-image: url(../images/background-beach.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
h5.card-subtitle {
	margin-bottom: 15px;
}
span.oi-home {
	font-size: 18px;
}
.btn-reserva {
	width: 100%;
}
.footer-address-item, .icon-button {
	margin-right: 10px;
}
.breadcrumb-item a{
	color: #6c757d;
}
.breadcrumb-item a:hover{
	color: $orange;
}	
.breadcrumb-item.active{
	font-weight: bold;
}
.card-tarjetas {
	width: 300px;
}
.info-empresa h3 {
	@include text-center();
}
.info-empresa {
	background-color: white;
}
.card-img-top {
	max-height: 137px;
}
.tab-content {
	padding-top: 10px;
}
.text-align-center {
	@include text-center();
}
.text-align-right {
	text-align: right;
}
.text-align-left {
	text-align: left;
}
.f-w-b {
	font-weight: bold;
}
.btn-medium {
	width: 100%;
	font-size: 14px;
	height: 25px;
	line-height: 1px;
	margin-bottom: 10px;
	border-radius: 0px;
}
.img-border:hover {
	box-shadow:  -1px 2px 23px $blue, 0px 1px 19px $blue;
	transition: 0.5ms;
}
.carousel {
	max-width: 800px;
	margin: 0 auto;
}

.centrado {
	margin: 0 auto;
	margin-bottom: 20px;
	width: auto;
}

.centrado a {
	display: block;
}

/*-------------------
	Usando SASS variables
--------------------*/
footer {
	background-color: $blue-dark;
	color: $white;
}

footer a {
	color: $white;
}

.navbar {
	background-color: $blue-dark !important;	
}
/*------------------------*/


@media (max-width: 420px) {
	.info-empresa div{
		margin-bottom: 30px;
	}	
}

@media (max-width: 785px) {
	.centrado {
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.centrado a {
		text-align: center;
	}
}